body{
    padding: 20px;
}

h1{
    text-align: center;
    text-decoration: underline;
}

h1, h2, h3, p{
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

h1, h2, h3{
    font-style: italic;
}

em{
    font-style: normal;
    text-decoration: underline;
    color: burlywood;
}

img{
    height: auto;
    width: 300;
}

.button{
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}